
<header >
    <div class="container shadow ">
        <!-- Marge au-dessus de l'entête -->
        <div class="row p-1"></div>
        <div class="row pt-2 align-items-end bg-dark bg-opacity-75 rounded-top-4">
            
            <!-- Logo Site : -->
            <div class="col-1 p-1">
                <a href="/">
                    <img src="./assets/images/Logo.png" class="img-fluid rounded-4 ms-1 mb-1">
                </a>
            </div>
            
            <!-- Titre/nom site : -->                        
            <!-- <div class="navbar-brand col bg-warning text-white m-0 p-2 h1">Nom/marque du site</div> -->
            <div class="col-6  text-start m-0 p-0 ps-4">
                <span class="titre-site display-1">SushiFast</span>
                <span class="titre-site-suite display-6 ms-3"><i>Restaurant</i></span>
            </div>
            <!-- Sous titre : -->
            <div class="titre-secondaire col-5 m-0 pt-0 pb-3 text-end display-6">
                <b>Sushi-App </b><i class="bi bi-cart-fill" style="font-size: 2em;"></i></div>
        </div>           
    </div>
</header>


<!-- BARRE DE NAVIGATION : -->
<nav class="navbar navbar-expand p-0 mb-4 sticky-top">
<!-- <nav class="navbar navbar-expand p-0 mb-4 fixed-top"> -->
    <div class="container bg-warning bg-opacity-100 rounded-bottom-4 border-top border-dark border-4 border-opacity-50 shadow">
        <ul class="navbar-nav nav-underline ms-3">
            <li class="nav-item">
                <a class="nav-link text-dark active " aria-current="page" href="/"><i class="bi bi-house-fill"></i> Home</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link text-dark" href="#elmt-txt"><i class="bi bi-text-left"></i> Textes</a>
            </li>   
            <li class="nav-item">
                <a class="nav-link text-dark" href="#tabs"><i class="bi bi-table"></i> Tableaux</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#btn"><i class="bi bi-toggle-on"></i> Boutons</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link text-dark" href="#forms"><i class="bi bi-pencil-square"></i> Formulaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#cards"><i class="bi bi-card-heading"></i> Cards</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-dark" href="#comp"><i class="bi bi-grid-1x2-fill"></i> Composants</a>
                <button class="btn nav-link dropdown-toggle" data-bs-toggle="dropdown" >
                    <i class="bi bi-grid-1x2-fill"></i> Composants
                </button>
                <ul class="dropdown-menu bg-warning-subtle shadow">
                    <li><a class="dropdown-item" href="#accordions"><i class="bi bi-view-stacked"></i> Les accordions</a></li>
                    <li><a class="dropdown-item" href="#alertes"><i class="bi bi-exclamation-square"></i> Les alertes</a></li>
                    <li><a class="dropdown-item" href="#collapses"><i class="bi bi-arrows-expand"></i> Les collapsables</a></li>
                    <li><a class="dropdown-item" href="#modales"><i class="bi bi-copy"></i> Les modales</a></li>
                    <li><a class="dropdown-item" href="#progress"><i class="bi bi-filter-left"></i> Les barres de progression</a></li>
                    <li><a class="dropdown-item" href="#tooltips"><i class="bi bi-chat"></i> Les infobulles</a></li>
                </ul>                    
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-dark" href="#add"><i class="bi bi-plus-square"></i> Ajouts</a>
                <button class="btn nav-link dropdown-toggle" data-bs-toggle="dropdown" >
                    <i class="bi bi-plus-square"></i> Ajouts
                </button>
                <ul class="dropdown-menu bg-warning-subtle shadow">
                    <li><a class="dropdown-item" href="#gfonts"><i class="bi bi-google"></i> Google Fonts</a></li>
                    <li><a class="dropdown-item" href="#fontawesome"><i class="bi bi-fonts"></i> Font Awesome</a></li>                        
                </ul>

            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#perso"><i class="bi bi-tools"></i> Personnalisation</a>
            </li> -->
        </ul>
    </div>
</nav>
